﻿@model NET.S._2017.Aleshko.Lab.ImageGalery.Models.ImageModel

    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <a href="@Url.Action("GetFullImage", new {id = Model.Id})" data-lightbox="image" data-title="@Model.Comment">
                <img src="@Url.Action("GetSmallImage", new {id = Model.Id})" alt="Model">
            </a>
            <h3>@Model.Author</h3>
            <p>@Model.Comment</p>
        </div>
    </div>
